.btnLogout{
    position: absolute;
    top: 30px;
    right: 20px;
    background-color: rgb(191, 191, 191);
    color: black;
    font-weight: bold;
}
.btnLogout:hover{
    background-color: rgb(162, 162, 192);
}
.ImagenMidu{
    position: absolute;
    top: 15px;
    left: 20px;
}
               
.titlePerfil{
    position: absolute;
    top:33px;
    left: 96px;
    color: beige;
    font-size: 22px;
}
/* Configuración del menú inicial: solo íconos visibles */
.Menu {
    position: fixed;
    top: 100px;
    left: -4px;
    font-size: 30px;
    color: beige;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté encima del contenido */
    transition: transform 0.5s ease;
    font-size: 30px;
}

.MenuItems {
    position: fixed;
    top: 100px;
    left: -200px; /* Coloca el menú fuera de la vista inicialmente */
    width: 200px; /* Ajusta el ancho del menú */
    overflow: hidden;
    height: 100%;
    background-color:#000000;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: transform 0.5s ease;
    opacity: 50%;
}

.MenuItems ul {
    list-style: none;
    padding: 6;
    margin: 6;
    width: 100%;
}

.MenuItems ul li {
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    color: aliceblue;
}

.MenuItems ul li span {
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    visibility: hidden; /* Oculta el texto del ítem inicialmente */
    text-decoration: none;
    color: aliceblue;
}

.MenuItems.open {
    transform: translateX(200px); /* Desplaza el menú a la vista */
    width: 290px;
    transition: all 0.5s ease;
}

.MenuItems.open ul li span {
    opacity: 250; /* Muestra el texto de los ítems cuando el menú está abierto */
    visibility: visible;
    color: aliceblue;
}

.Menu.open {
    transform: translateX(270px) rotate(178deg); /* Alinea el ícono del menú con el menú abierto */
    color: aliceblue;
}
.separador {
    position: relative;
    top: 45%;
    border: 0;
    height: 2px;
    background: #ccc;  /* Color de la línea */
    margin: 20px 0;    /* Márgenes para separarlo de otros elementos */
    width: 100%;       /* Asegurar que ocupe todo el ancho disponible */
  }
.secundaryLinks li{
    list-style: none;
}
/* Estilos del diálogo */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.main-content{
    position: absolute;
    top: 0;
    left: 20%;
    width: 1200px;
    height: 1200px;
    background: linear-gradient(rgb(169, 166, 166), rgb(55, 55, 72))
}